<!DOCTYPE html>
<html>

<head>
    <title>Stoic Philosophers</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <script src="static/js/display_quote.js"> </script>
</head>

<body>
    <h1>Stoic Philosophers</h1>
    <p>Select a philosopher to learn more:</p>
    <div class="row1">
        <button class="philosopher-btn" id="marcus-aurelius" onclick="getQuote('Marcus Aurelius')">Marcus
            Aurelius</button>
        <button class="philosopher-btn" id="seneca" onclick="getQuote('Seneca')">Seneca</button>
        <button class="philosopher-btn" id="epictetus" onclick="getQuote('Epictetus')">Epictetus</button>
    </div>
    <div class="row2">
        <button class="philosopher-btn" id="cato" onclick="getQuote('Cato')">Cato</button>
        <button class="philosopher-btn" id="zeno" onclick="getQuote('Zeno')">Zeno</button>
    </div>
    <div id="quote"></div>
</body>

</html>